/* Estilos generales */
body {
    background-color: #000000;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Style for neon text */
.neonText {
    color: #fff;
    text-shadow:
        0 0 4px #575757,
        0 0 11px #000000,
        0 0 19px #000000,
        0 0 40px #016cdf,
        0 0 80px #016cdf,
        0 0 90px #016cdf,
        0 0 100px #016cdf,
        0 0 150px #016cdf;
    font-size: 4.2rem;
    font-weight: 100;
    line-height: 1;
    text-decoration: none;
    position: absolute;
    top: 10px;
    left: 10px;
}

h2 {
    font-weight: 100;
    line-height: 1;
    font-size: 1.8rem;
}

/* Image for the banner */
.containerI {
    margin-top: 0px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1)), url('img/headimg.jpg');
    background-size: cover; 
    background-position: center;
    padding: 45px;
    position: relative;
}

/* Cuadros para Informacion principal */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.content-group {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.Cuadro {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 6px 10px #959595;
}

.text-content {
    margin-right: 20px;
}

.Cuadro h2 {
    margin: 10px 0 0;
    font-size: 30px;
    text-align: center;
}

.Cuadro p {
    margin: 20px 0 0;
    font-size: 25px;
    text-align: justify;
}

.imagen {
    max-width: 300px;
    max-height: 300px;
    border-radius: 15px;
    display: block;
    margin: 20px;
}

/* Css para presentacion */
.DatosGrupo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.fundador {
    background-color: #f0f0f0;
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 6px 10px #959595;
    text-align: center;
    width: 200px;
    cursor: pointer;
    transition: transform 0.3s ease, max-height 0.3s ease-in-out;
    overflow: hidden;
    max-height: 200px; /* Altura inicial */
}

.fundador.expanded {
    transform: scale(1.1);
    max-height: 400px; /* Altura expandida */
}

.fundador-image {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.fundador h3 {
    margin: 10px 0 0;
    font-size: 25px;
}

.fundador h4 {
    font-size: 15px;
    display: none;
}

.fundador p {
    margin: 20px 0 0;
    font-size: 25px;
    display: flex;
}

.fundador.expanded h4,
.fundador.expanded p {
    display: block;
}

/* Estilos para el footer */
.footer {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    position: relative;
    bottom: 0;
}

.footer-izquierda,
.footer-centro,
.footer-derecha {
    flex: 1;
    text-align: center;
}

.footer-izquierda {
    text-align: left;
}

.footer-derecha {
    text-align: right;
}

.Equipotitle {
    color: #f0f0f0;
    text-align: center;
    font-size: 400%;
    margin: 20px 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    .DatosGrupo {
        flex-direction: column;
        align-items: center;
    }

    .fundador {
        flex: 1 1 100%;
        max-width: 90%;
    }

    .footer {
        flex-direction: column;
    }

    .footer-izquierda,
    .footer-centro,
    .footer-derecha {
        text-align: center;
        margin: 5px 0;
    }

    .neonText {
        font-size: 2.5rem;
        top: 20px;
        left: 20px;
    }

    .content-group {
        flex-direction: column;
    }

    .imagen {
        margin: 0 auto 20px;
    }
}
